.github
.devcontainer
.vscode
.waylog


dist
build
**/__pycache__/
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/.venv/

Tools/px4_gust_eval/logs/
Tools/px4_gust_eval/wandb/

*.pyc
*.pyo
*.swp
*.tmp
*.log
